.navbar {
  // --nav-bg-color: rgba(243, 243, 228, 0.863);
  --nav-bg-color: rgba(243, 243, 228, 0.445);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  & > .navbar-logo {
    -webkit-text-fill-color: #ffffff00;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    //   text-stroke: 1px rgb(0, 0, 0);
    //   stroke-width: 1;
    .logo {
      // background-color: rgba(255, 255, 255, 0.089);
      background-color: var(--nav-bg-color);
      border-radius: 10px;
      padding: 8px;
    }
  }

  & > .navbar-logo {
    margin-left: 60px;
  }

  & > .navbar-items {
    margin-left: 60px;
    margin-right: 160px;

    & > li {
      a {
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        // background-color: rgba(255, 255, 255, 0.089);
        background-color: var(--nav-bg-color);
        backdrop-filter: blur(16px);
        border-radius: 15px;
        padding: 8px;
      }
      a.active {
        color: rgb(27, 52, 160);
      }
      & > div.link-hover-deco {
        position: absolute;
        width: 5px;
        height: 5px;
        background: transparent;
        border-radius: 5px;
        margin-top: 2px;
        transition: all 0.4s ease-in-out;
      }
    }

    & > li:hover {
      color: rgb(27, 52, 160);

      div {
        background: rgb(27, 52, 160);
      }
    }
  }

  & > .navbar-items,
  .navbar-logo {
    margin-top: 27px;
    margin-bottom: 27px;
  }
}
