.contact-section {
  padding-bottom: 0 !important;
  .svg-wrapper {
    background-color: var(--second-bg-color);
    .svg-section-transition {
      width: 100%;
      height: auto;
      transform: translateY(1px);
      path {
        fill: var(--third-bg-color);
      }
    }
  }
  .svg-wrapper-bottom {
    background-color: var(--third-bg-color);

    .svg-section-transition-bottom {
      width: 100%;
      height: auto;
      transform: translateY(3px);
      path {
        fill: #086453;
      }
    }
  }

  .contact-content-wrapper {
    background-color: var(--third-bg-color);
    // height: 300px;
    padding: 20px;

    .mail-img-div {
      padding-right: 20px;
      height: 400px;
      aspect-ratio: 3/4;
      position: relative;
      .gray-contact-img {
        position: absolute;
        inset: 0;
        background-image: url('../../assets/me_mail_blackAndWhite.webp');
        background-size: cover;
      }
      .color-contact-img {
        position: absolute;
        inset: 0;
        background-image: url('../../assets/me_mail.webp');
        background-size: cover;

        -webkit-mask-image: url('../../assets/contact-mask.webp');
        -webkit-mask-size: cover;
        -webkit-mask-position: 0% 0%;

        mask-image: url('../../assets/contact-mask.webp');
        mask-size: cover;
        mask-position: 0% 0%;

        transition: mask-position;
      }
      .mask-animation {
        animation: addColor 2s steps(15) forwards;
      }

      @keyframes addColor {
        0% {
          -webkit-mask-position: 0% 0%;
          mask-position: 0% 0%;
        }
        100% {
          -webkit-mask-position: 100% 0%;
          mask-position: 100% 0%;
        }
      }
    }

    a {
      color: rgb(94, 94, 196);
      &:hover {
        color: rgb(110, 110, 196);
      }
    }
  }
}
