footer {
  // padding-top: 80px;

  .footer-content-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    // z-index: 1;
    background-color: rgb(12, 12, 12);
    gap: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: azure;

    .row-container {
      display: flex;
      flex-direction: row;
      max-width: 1300px;
      width: 68vw;
      margin: auto;
      // flex-wrap: wrap;
      // justify-content: center;
      align-content: center;
      justify-content: space-between;
      .copyright {
        // text-align: center;
        font-size: 13px;
        padding-bottom: 2px;
        justify-self: end;
      }
      .link-icons {
        display: flex;
        flex-direction: row;
      }
    }

    a:hover {
      cursor: pointer;
      // color: rgb(43, 53, 44);
    }
    a {
      font-size: 30px;
      // color: rgb(27, 27, 36);
      margin-left: 12px;
    }
  }
}
