footer {
  // padding-top: 80px;
  .footer-content-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
    background-color: rgba(51, 197, 136, 1);
    gap: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    div {
      margin-top: 6px;
    }
    .row-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      //   margin: 0 auto;
    }

    a:hover {
      cursor: pointer;
      color: rgb(43, 53, 44);
    }
    a {
      font-size: 30px;
      color: rgb(27, 27, 36);
      margin-left: 12px;
    }
  }
  .copyright {
    text-align: center;
    font-size: 13px;
    padding-bottom: 2px;
  }
}
